.p1
{

text-align: center;
padding-top: 0px;
}

.p3{
	
	border-bottom: 1px solid grey;
}


.p4{
	
width: 400px;
text-align: center;
margin: 50px;
margin-left: auto;
margin-right: auto;
	
}

.orcamento{
	
	width: 600px;
text-align: center;
margin: 50px;
margin-left: auto;
margin-right: auto;
	
}

.cor{
	
	font-family: arial;
	font-size: 15px;
	color: orangered;
	text-align: center;
	
}

.texto{
	
	text-align: center;
	font-size: 15px;
	font-family: arial;
	color: orangered;
	
}


.p10{
	font-family: arial;
	padding-top: 10px;
	font-size: 15px;
	color: orangered;
}



.largura{
	
	width: 540px;
	
}
