.botao{	
	background:#FFD700;
	color: black;
	border: 0;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 15px;
	margin-bottom: 0;
	width: 100%;
	padding: 15px;
 	font-size: 20px;
}

.botao:hover {
	opacity:1;

}

.botao:active {
	transform: scale (0.95);

}

.estilo {
 	width: 100%;
 	background: #F3F3F3;
 	padding: 30px;
 	border: 2px solid rgba(0,0,0,0.2);
	font-size: 40px;
	border-radius: 15px;
	max-width: 500px;
	height: 30px;
	
}